body {
    background-image: url('');
    background-position: 0 0;
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 auto;
    margin-top: 40px;
    width: 500px;
}

.main-canvas {
    display: block;
    border: 1px dotted bisque;
    margin-bottom: 20px;
}

.restart-button {
    width: 150px;
    height: 40px;
    border: none;

}

.restart-button:hover,
.restart-button:focus,
.restart-button:active {
    background-image: url('./img/cropped.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(124, 182, 158, 0.6);
    box-shadow: 0px 0px 9px 2px rgba(124, 182, 158, 0.6);
    outline: none;
}

.restart-button:active {
    -webkit-box-shadow: 0px 0px 9px 2px rgba(124, 182, 158, 0.8);
    box-shadow: 0px 0px 9px 2px rgba(124, 182, 158, 0.8);
}