.container {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    border: 2px dotted blanchedalmond;
}

canvas {
    display: block;
    width: 560px;
    height: 400px;
    border: 1px dotted bisque;
    margin: 40px auto;
}